<suite name="MainTestSuite" thread-count="3" parallel="tests">
    <listeners>
        <listener class-name="com.karpuk.clashtrack.core.listener.TestListener"/>
    </listeners>
    <test name="SingInTest">
        <classes>
            <class name="com.karpuk.clashtrack.ui.test.SignInTest"/>
        </classes>
    </test>
    <test name="BasesCollectionTest">
        <classes>
            <class name="com.karpuk.clashtrack.ui.test.BasesCollectionNoSignInTest"/>
        </classes>
    </test>
    <test name="TroopCostCalculatorTest">
        <classes>
            <class name="com.karpuk.clashtrack.ui.test.TroopCostCalculationTest"/>
        </classes>
    </test>
    <test name="WarWeightCalculatorTest">
        <classes>
            <class name="com.karpuk.clashtrack.ui.test.WarWeightCalculationTest"/>
        </classes>
    </test>
</suite>
